<!-- menu_management.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Menu Management</title>
</head>
<body>
    <h1>Menu Management</h1>
    <ul>
        {% for category in categories %}
            <li>{{ category.name }}</li>
            <ul>
                {% for item in category.menuitem_set.all %}
                    <li>{{ item.name }} - ${{ item.price }}</li>
                    <ul>
                        <li><a href="{% url 'edit_menu_item' item.id %}">Edit</a></li>
                        <li><a href="{% url 'delete_menu_item' item.id %}">Delete</a></li>
                    </ul>
                {% endfor %}
            </ul>
        {% endfor %}
    </ul>
    <a href="{% url 'add_menu_item' %}">Add Menu Item</a>
</body>
</html>
